Практическая работа №2

Выполнила: Куличенко Елизавета ИВБО-02-19

Задание №1

Напишите программу, которая считывает с консоли числа (по одному в
строке) до тех пор, пока сумма введённых чисел не будет равна 0 и
после этого выводит сумму квадратов всех считанных чисел.

In [ ]:
listik=[]
a = int(input())
listik.append(a**2)
s=a
while s != 0:
  b = int(input())
  listik.append(b**2)
  s += b

print(sum(listik))

-3
3
18

Задание №2

Напишите программу, которая выводит последовательность чисел,
длинною N, где каждое число повторяется столько раз, чему оно равно.
На вход программе передаётся неотрицательное целое число N.
Например, если N = 7, то программа должна вывести 1 2 2 3 3 3 4
Вывод элементов списка через пробел – print(*list).

In [ ]:
n = int(input())
listi=[]
for i in range(n):
  k=0
  while k != i and len(listi) != n:
    listi.append(i)
    k += 1
print(listi)

7
[1, 2, 2, 3, 3, 3, 4]

Задание №3

Матрицу произвольного размера вытянуть в один вектор, не применяя
встроенные методы Python.

In [ ]:
import numpy as np
s=[]
x = np.array([[1,1,1],[1,1,1],[1,1,1]])
for i in x:
  for j in i:
    s.append(j)
k=np.array(s)
print(k)
print(type(k))
#np.resize(x,9)

[1 1 1 1 1 1 1 1 1]
<class 'numpy.ndarray'>

Задание №4

Даны два списка:

А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]

В = [‘a’, ’b’, ’c’, ’c’, ’c’, ’b’, ’a’, ’c’, ’a’, ’a’, ’b’, ’c’, ’b’, ’a’]

Создать словарь, в котором ключи – это содержимое списка В, а
значения для ключей словаря – это сумма всех элементов списка А в
соответствии с буквой, содержащийся на той же позиции в списке В.
Пример результата программы: {‘a’ : 10, ‘b’ : 15, ‘c’ : 6}.

In [ ]:
import pandas as pd

A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']

D=[0]*3

for i in range(len(B)):
  D[ord(B[i])-97]+=A[i]

s=[]
for i in range(len(D)):
  s.append(chr(97+i))

p = dict(zip(s,D))
print(p)

{'a': 17, 'b': 11, 'c': 17}

Задание №5

Скачать и загрузить данные о стоимости домов в калифорнии,
используя библиотеку sklearn.

In [ ]:
from sklearn.datasets import fetch_california_housing
df = fetch_california_housing(as_frame=True)
df.frame.tail()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

Задание №6

Используя метод pd.concat([датафрейм1, датафрейм2], axis = 1),
добавить к данным столбец, содержащий информацию о медианной
стоимости дома (.target и .target_names).

In [ ]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)
df = pd.DataFrame(data=data.data, columns=data.feature_names)
pd.concat([df, pd.DataFrame(data.target)], axis = 1)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [ ]:
'''
columns = np.append(data.target,data.target_names)
df = pd.DataFrame(data.target)
dk = pd.DataFrame(data=data.data, columns=data.feature_names)
pd.concat([dk, df], axis = 1)
'''

Задание №7

Использовать метод info().

In [ ]:
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)
data.frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

Задание №8

Узнать, есть ли пропущенные значения, используя isna().sum().

In [ ]:
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)
data.frame.isna().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

Задание №9

Вывести записи, где средний возраст домов в районе более 50 лет и
население более 2500 человек, используя метод loc().

In [ ]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)   
df = pd.DataFrame(data=data.data, columns=data.feature_names)
df.loc[(df.HouseAge > 50) & (df.Population > 2500)]
#df.loc[(df['HouseAge'] > 50) & (df.Population > 2500)].sort_values(by='Population')

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41

Задание №10

Узнать максимальное и минимальное значения медианной стоимости
дома (max(), min()).

In [ ]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True) 
df = pd.DataFrame(data=data.data, columns=data.feature_names)
print("Максимальное значение медианной стоимости дома: ", df.MedInc.max())
print("Минимальное значение медианной стоимости дома: ", df.MedInc.min())

Максимальное значение медианной стоимости дома:  15.0001
Минимальное значение медианной стоимости дома:  0.4999

Задание №11

Используя метод apply(), вывести на экран название признака и его
среднее значение.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True) 
df = pd.DataFrame(data=data.data, columns=data.feature_names)
round(df.apply(np.mean, axis=0),3)

MedInc           3.871
HouseAge        28.639
AveRooms         5.429
AveBedrms        1.097
Population    1425.477
AveOccup         3.071
Latitude        35.632
Longitude     -119.570
dtype: float64